<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
      <h1><center>Welcome to Foradian</center></h1> 
      <p>Please fine the Appointment details....</p>
      <h3>Appointment Id:<%#=@appointment.appointment_id %></h3>
      <h3>Doctor Name<%#=@doctor.user_name %></h3>
      <h3>Patient Name<%#=@patient.user_name %></h3>
      <h3>Appontment Date and Time<%#=@ppointment.data %></h3>
      <p>Thanks for joining and have a great day!</p>
  </body>
  </html>