<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
      <h1><center>Welcome to Foradian</center></h1> 
      <p>Please fine the login details....</p>
      <h3>User Name:<%=h @user.user_name %></h3>
      <h3>Password:<%=h @user.password %></h3>
      <p>Thanks for joining and have a great day!</p>
  </body>
  </html>