body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    color: red;
}
#page-content-wrapper {
  min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.bg-light {
    background-color: #7394b7!important;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

 #menu-toggle {
    border: none;
    border-radius: 7px;
}

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #7394b7!important;
   color: black;
   text-align: right;
   height: 20px;
   font-size: 13px;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 10px;
}
.hh2 {
  text-shadow: 2px 2px 5px red;
}

.form-control {
    display: block;
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table {
    width: -webkit-fill-available;
    margin-bottom: 1rem;
    color: #212529;
}
.card {
     overflow: hidden;
     position: absolute;
     margin-left: 52%;
     margin-top: 2%;
     border: 1px solid black;
     width: 250px;

}
.card-footer {
     border: none;
     background: none;
     width: 250px;
}
.card-body {
     padding: 1px ; 
}
